<div style="text-align:center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Session-9, Assignment-4</h1>
        <form #f="ngForm" novalidate autocomplete="off" (ngSubmit)="addPerson(f.value)">
          <div class="form-group" style="text-align:left">
            <label for="honorific">Honorific</label>
            <!-- Input field for honorific(Mr/Ms) imparting two-way data flow using ngModel -->
            <select class="text-box" id="honorific" name="honorific" [(ngModel)]="personModel.honorific" class="form-control" #hnrfc='ngModel'
              required>
              <!-- Mr/Ms options are populated using dropdown service -->
              <option [value]="personModel.honorific" [disabled]="true">Select Honorific</option>
              <option *ngFor="let m of mrms" [ngValue]="m.honorific">
                <!-- Display "Mr." and "Ms." using string interpolation -->
                {{m.honorific}}
              </option>
            </select>
            <!-- Below div is displayed if the honorific is not filled -->
            <div *ngIf="hnrfc.errors && (hnrfc.dirty || hnrfc.touched)" class="alert alert-danger">
              <div [hidden]="!hnrfc.errors.required">
                Title/Honorific is required.
              </div>
            </div>
          </div>
          <div class="form-group" style="text-align:left">
            <label for="firstName">First Name</label>
            <!-- Input field for first name imparting two-way data flow using ngModel -->
            <input type="text" required pattern="^[a-zA-Z]*$" minlength="2" maxlength="50" [(ngModel)]="personModel.firstName" id="firstName"
              name="firstName" class="form-control" placeholder="First Name" #fname='ngModel'>
            <div *ngIf="fname.errors && (fname.dirty || fname.touched)" class="alert alert-danger">
              <!-- Below div is displayed if the first name is not filled -->
              <div [hidden]="!fname.errors.required">
                First Name is required.
              </div>
              <!-- Below div is displayed if input characters are other than alphabets -->
              <div [hidden]="!fname.errors.pattern">
                Please enter only alphabets.
              </div>

              <!-- ******************************************* -->
              <!-- Below div is displayed if input exceeds minimum character length -->
              <div [hidden]="!fname.errors.minlength">
                Please enter atleast 2 characeters.
              </div>
              <!-- ******************************************* -->

            </div>
          </div>
          <div class="form-group" style="text-align:left">
            <label for="lastName">Last Name</label>
            <!-- Input field for last name imparting two-way data flow using ngModel -->
            <input type="text" required pattern="^[a-zA-Z]*$" minlength="2" maxlength="50" [(ngModel)]="personModel.lastName" id="lastName"
              name="lastName" class="form-control" placeholder="Last Name" #lname='ngModel'>
            <div *ngIf="lname.errors && (lname.dirty || lname.touched)" class="alert alert-danger">
              <!-- Below div is displayed if the last name is not filled -->
              <div [hidden]="!lname.errors.required">
                Last Name is required.
              </div>
              <!-- Below div is displayed if input characters are other than alphabets -->
              <div [hidden]="!lname.errors.pattern">
                Please enter only alphabets.
              </div>

              <!-- ******************************************* -->
              <!-- Below div is displayed if input exceeds minimum character length -->
              <div [hidden]="!lname.errors.minlength">
                Please enter atleast 2 characeters.
              </div>
              <!-- ******************************************* -->

            </div>
          </div>
          <div class="form-group" style="text-align:left">
            <label for="age">Age</label>
            <!-- Input field for age imparting two-way data flow using ngModel -->
            <input type="number" required [(ngModel)]="personModel.age" id="age" name="age" class="form-control" placeholder="Age" #age='ngModel'>
            <!-- Below div is displayed if the age is not filled -->
            <div *ngIf="age.errors && (age.dirty || age.touched)" class="alert alert-danger">
              <div [hidden]="!age.errors.required">
                Age is required.
              </div>
            </div>
          </div>
          <!-- Button that calls service functions and ultimately shows data input in table -->
          <!-- This button is enabled only after all fields are filled and valid -->
          <input type="submit" id="btn-submit" class="btn btn-primary btn-block" value="Add to Table" [disabled]="f.invalid">
        </form>
      </div>
    </div>
  </div>
</div>

<hr/>
<!-- Conditional display of table based on length of input array -->
<div *ngIf="personArr.length > 0">
  <!-- Display table that is part of child component -->
  <app-person [personDetail]="personArr"></app-person>
</div>
