<div class="container">
  <div class="row">
    <section class="content">
      <div class="col-md-8 col-md-offset-2">
        <h1 style="text-align: center;">Person List</h1>
        <hr/>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="table-resposive">
              <table class="table table-striped">
                <tbody>
                  <!-- Loop through input array -->
                  <tr *ngFor="let personList of personDetail;let i = index">
                    <td>
                      <!-- Displaying serial number string interpolation -->
                      {{i + 1}}
                    </td>
                    <td>
                      <h5>
                        <!-- Displaying Person Name  and age from array using string interpolation -->
                        {{personList?.honorific}}{{personList?.firstName}} {{personList?.lastName}}, {{personList.age}}
                      </h5>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
